body{text-align:center;background-color:#e9ecef;}
#img-9mkr{border-radius:10px;margin-top: 1em;}
#dext{border-radius: 20px;background-color: white;margin-left: 10%;margin-right: 10%;}
#div1{text-align:center;align-items: center;display: inline-flex;margin-left:3em;border: solid black 1px;border-radius:10px;}
#div2{text-align:center;align-items: center;display: inline-flex;margin-left:3em;border: solid black 1px;border-radius:10px;}
