body{text-align:center;background-color:#e9ecef;}
#img-9mkr{border-radius:10px;margin-top: 1em;}
#dext{border-radius: 20px;
background-color: white;
margin-left: 10%;
margin-right: 10%;}
#div1{text-align:center;align-items: center;display: inline-flex;background-color:e9ecef7f;border-radius:20px;}
